{
  "compact": false,
  "retainLines": true,
  "minified": false,
  "inputSourceMap": false,
  "sourceMaps": true,
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./dist"],
        "alias": {
          "core": "./core",
          "templates": "./templates",
          "types": "./types"
        }
      }
    ]
  ]
}
